[Unit]
Description=Import Bot-tazzi Agenda into Nextcloud every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=10s
Persistent=true
Unit=ralf-nextcloud-agenda-import.service

[Install]
WantedBy=timers.target
