[Unit]
Description=Ralf RUNTS browser file probe socket

[Socket]
ListenStream=/run/ralf-runts-browser-probe.sock
SocketUser=bandi
SocketGroup=sibilla-cumana
SocketMode=0660

[Install]
WantedBy=sockets.target
