RALFLOOP_ENABLE_RECURSIVE_MAS_NATIVE=0
RALFLOOP_ALLOW_TEXT_MAS_FALLBACK=0
RALFLOOP_RECURSIVE_MAS_EXECUTION_MODE=gpu_stagewise
RALFLOOP_RECURSIVE_MAS_ROUNDS=1
RALFLOOP_RECURSIVE_MAS_TIMEOUT_SEC=150
RALFLOOP_RECURSIVE_MAS_SOCKET=/run/ralfloop/recursive-mas.sock
RALFLOOP_RECURSIVE_MAS_PYTHON=/home/sibilla-cumana/RecursiveMAS/.venv-recursivemas/bin/python
RALFLOOP_RECURSIVE_MAS_ROOT=/home/sibilla-cumana/RecursiveMAS
RALFLOOP_RECURSIVE_MAS_CACHE=/home/sibilla-cumana/RecursiveMAS/.hf-recursivemas
