RALFLOOP_GLM_STATE_DIR=/home/sibilla-cumana/.local/state/ralfloop/glm-review
RALFLOOP_COLIBRI_LAUNCHER=/home/sibilla-cumana/Dati/ralfloop-colibri/bin/glm-run
RALFLOOP_GLM_TIMEOUT_SECONDS=3600
RALFLOOP_GLM_NGEN=128
RALFLOOP_GLM_DIRECTOR_ENABLED=1
RALFLOOP_GLM_MAX_ROUNDS=3
RALFLOOP_GLM_MAX_ASSIGNMENTS=5
RALFLOOP_GLM_DIRECTOR_TIME_BUDGET_SECONDS=7200
RALFLOOP_GLM_WORKER_CALL_BUDGET=15
RALFLOOP_GLM_CONTEXT_MAX_CHARS=6000
RALFLOOP_GLM_MAX_OUTPUT_BYTES=131072
RALFLOOP_GLM_MAX_ERROR_BYTES=131072
RALFLOOP_GLM_APPROVAL_TTL_SEC=86400
RALFLOOP_TELEGRAM_APPROVAL_OUTBOX=/var/lib/ralfloop/domain-approval-outbox.jsonl
